body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem 1rem; */
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 5em;
  margin-left: 5rem;
}

nav {
  margin-right: 5rem;
}

nav a {
  margin: 0 15px;
  font-size: 18px;
  color: #333;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
  padding: 2em 0;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.fruit-image {
  width: 20rem;
  height: 20rem;
  border-radius: 20px;
}

.info {
  text-align: left;
  max-width: 400px;
}

.info h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.info p,
.info ul {
  font-size: 18px;
  line-height: 1.6;
}

footer {
  padding: 20px 0;
  background: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  bottom: 0;
  width: 100%;
  font-size: 18px;
}
